target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/run/data/
/run/libtest/annotations-26.0.2.jar
/run/libtest/base64-2.3.9.jar
/run/libtest/caffeine-2.9.3.jar
/run/libtest/checker-qual-3.42.0.jar
/run/libtest/commons-codec-1.17.1.jar
/run/libtest/commons-collections4-4.4.jar
/run/libtest/commons-compress-1.27.1.jar
/run/libtest/commons-fileupload-1.5.jar
/run/libtest/commons-io-2.19.0.jar
/run/libtest/commons-lang3-3.16.0.jar
/run/libtest/commons-logging-1.2.jar
/run/libtest/core-3.1.0.jar
/run/libtest/dotenv-java-3.1.0.jar
/run/libtest/error_prone_annotations-2.36.0.jar
/run/libtest/failureaccess-1.0.3.jar
/run/libtest/gson-2.10.1.jar
/run/libtest/guava-33.4.8-jre.jar
/run/libtest/h2-2.3.232.jar
/run/libtest/httpclient-4.5.10.jar
/run/libtest/httpcore-4.4.12.jar
/run/libtest/j2objc-annotations-3.0.0.jar
/run/libtest/jackson-annotations-2.15.4.jar
/run/libtest/jackson-core-2.15.4.jar
/run/libtest/jackson-databind-2.15.4.jar
/run/libtest/java-jwt-4.5.0.jar
/run/libtest/Java-WebSocket-1.5.6.jar
/run/libtest/javalin-6.6.0.jar
/run/libtest/jcl-over-slf4j-2.0.7.jar
/run/libtest/JDA-5.0.1.jar
/run/libtest/jetty-http-11.0.25.jar
/run/libtest/jetty-io-11.0.25.jar
/run/libtest/jetty-jakarta-servlet-api-5.0.2.jar
/run/libtest/jetty-security-11.0.25.jar
/run/libtest/jetty-server-11.0.25.jar
/run/libtest/jetty-servlet-11.0.25.jar
/run/libtest/jetty-util-11.0.25.jar
/run/libtest/jetty-webapp-11.0.25.jar
/run/libtest/jetty-xml-11.0.25.jar
/run/libtest/jline-3.29.0.jar
/run/libtest/jna-5.13.0.jar
/run/libtest/jna-platform-5.13.0.jar
/run/libtest/jsoup-1.12.1.jar
/run/libtest/jspecify-1.0.0.jar
/run/libtest/kotlin-stdlib-1.9.25.jar
/run/libtest/kotlin-stdlib-common-1.9.10.jar
/run/libtest/kotlin-stdlib-jdk7-1.9.25.jar
/run/libtest/kotlin-stdlib-jdk8-1.9.25.jar
/run/libtest/lanterna-3.1.3.jar
/run/libtest/lava-common-1.1.2.jar
/run/libtest/lavaplayer-1.3.77.jar
/run/libtest/lavaplayer-natives-1.3.14.jar
/run/libtest/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/run/libtest/logback-classic-1.5.16.jar
/run/libtest/logback-core-1.5.16.jar
/run/libtest/lombok-1.18.38.jar
/run/libtest/mariadb-java-client-3.5.1.jar
/run/libtest/maven-artifact-3.9.9.jar
/run/libtest/maven-model-3.9.9.jar
/run/libtest/mssql-jdbc-12.10.0.jre11.jar
/run/libtest/mysql-connector-j-9.2.0.jar
/run/libtest/nv-websocket-client-2.14.jar
/run/libtest/ojdbc11-23.7.0.25.01.jar
/run/libtest/okhttp-4.12.0.jar
/run/libtest/okio-3.6.0.jar
/run/libtest/okio-jvm-3.6.0.jar
/run/libtest/opus-java-1.1.1.jar
/run/libtest/opus-java-api-1.1.1.jar
/run/libtest/opus-java-natives-1.1.1.jar
/run/libtest/plexus-utils-3.5.1.jar
/run/libtest/postgresql-42.7.2.jar
/run/libtest/protobuf-java-4.29.0.jar
/run/libtest/slf4j-api-2.0.16.jar
/run/libtest/sqlite-jdbc-3.49.1.0.jar
/run/libtest/waffle-jna-3.3.0.jar
/run/libtest/websocket-core-common-11.0.25.jar
/run/libtest/websocket-core-server-11.0.25.jar
/run/libtest/websocket-jetty-api-11.0.25.jar
/run/libtest/websocket-jetty-common-11.0.25.jar
/run/libtest/websocket-jetty-server-11.0.25.jar
/run/libtest/websocket-servlet-11.0.25.jar
/run/config.json
/run/service.json
/run/task.json
